include README
include LICENCE
include TODO.txt
recursive-include Doc *
recursive-include Examples *
recursive-include TestCalculations * 
recursive-include Templates *
recursive-include PBS *
recursive-include package/F90 *

