0_NORMAL_EXIT
BASIS_ENTHALPY
BASIS_HARRIS_ENTHALPY
CLOCK
FORCE_STRESS
MESSAGES
NON_TRIMMED_KP_LIST
OCCS
OUTVARS.yml
PARALLEL_DIST
*.BONDS
*.BONDS_FINAL
*.DM
*.DOS
*.EIG
*.FA
*.KP
*.ORB_INDX
*.PDOS
*.PDOS.KP
*.PDOS.xml
*.STRUCT_OUT
*.TSDE
*.TSHS
*.TSKP
*.XV
*.bands
*.bib
fdf-*.log
*.ion
*.ion.nc
*.ion.xml
*.FAC
*.FC
*.FCC
*.TSCCEQ-*
*.TSGF*
*.onlyS
*.TBT.*
time.json
INPUT_TMP.*
